---
type Props = {
  title: string
  subtitle?: string
}
const {title, subtitle} = Astro.props as Props
---

<section class="bg-white dark:bg-mine-shaft">
  <div
    class="grid max-w-screen-xl px-4 py-12 mx-auto text-center space-y-8 text-white font-bold justify-center"
  >
    <img
      src={'/icons/flag.png'}
      width="86"
      height="40"
      alt="Icon Página de Contato"
      class="mx-auto"
    />
    <h1 class="uppercase text-4xl">{title}</h1>
    <h2 class="text-base">{subtitle}</h2>
  </div>
</section>
