---
---

<a href="https://flowbite.com" class="flex items-center">
  <img
    src="/img/logo-idinheiro.png"
    class="h-6 sm:h-9"
    alt="Logo iDinheiro"
    width="39"
    height="39"
  />
  <span class="self-center text-xl font-bold whitespace-nowrap dark:text-black"
    >iDinheiro
  </span>
</a>
